* {
  margin: 0;
  padding: 0;
}
body {

  text-align: center;
  background-color: #003566;
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  font-size: 3rem;
  color: #fff;
}
.container {
  height: 70%vh;
  display: flex;

  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
 
}



.box {
  height: 18vh;
  width: 18vh;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 13vmin;
  color: #b0413e;

  background-color: #ffc300;
}
#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;

  color: #fff;
  border: none;
  margin: 3rem;
  border-radius: 1rem;
  background-color: #000814;
}
#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border: none;
  margin: 7px;
  border-radius: 1rem;
}
#msg {
  color: white;
  font-size: 8vmin;
}
.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hide {
  display: none;
}
